* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: LEMON MILK;
  overflow: hidden;
}
body a {
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.menu {
  display: grid;
  grid-template-columns: 50% auto;
  margin: 10px 20px;
  .logo {
    img {
      width: 180px;
      object-fit: cover;
    }
  }
  nav {
    ul {
      text-align: right;
      li {
        list-style: none;
        display: inline-block;
        a {
          color: rgb(27, 26, 26);
          padding: 10px;
          display: inline-block;
          font-size: 16px;
          position: relative;
          &::after {
            content: "";
            width: 0%;
            height: 2px;
            background: #000;
            position: absolute;
            top: 50%;
            left: 0px;
            transition: 0.5s;
          }
          &:hover::after {
            width: 100%;
          }
        }

        &:nth-child(3) a {
          margin-right: 60px;
        }
        &:nth-child(4) a {
          background: #000;
          color: #fff;
          font-size: 15px;
        }
      }
    }
  }
}

.wrap {
  display: grid;
  place-items: center;
  h1 {
    font-weight: 300;
    text-align: center;
    font-size: 32px;
    span {
      font-weight: bold;
      font-size: 50px;
    }
  }
}
.img {
  height: 330px;
  position: relative;
  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13rem;
    font-family: TESLA;
    color: #cccccc;
    z-index: 1;
  }
  img {
    position: relative;
    z-index: 2;
    width: 80%;
    transform: translate(80px, 0px);
  }
}
.slidebar {
  margin: 35px;
  display: flex;
  ul li {
    list-style: none;
    display: inline-block;
    border: 2px solid #000;
    cursor: pointer;
    img {
      width: 130px;
      height: 60px;
      object-fit: cvoer;
    }
  }
  .line {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      width: 100%;
      height: 5px;
      background-color: #000;
      display: inline-block;
    }
    .number {
      font-size: 50px;
      width: 240px;
      font-family: TESLA;
      text-align: center;
    }
  }
}
